extends layout
block content
  .non-bolded
    .Arial_6(style='font-size:6px') This is font Arial_6 non-bolded
    .Arial_7(style='font-size:7px') This is font Arial_7 non-bolded
    .Arial_8(style='font-size:8px') This is font Arial_8 non-bolded
    .Arial_9(style='font-size:9px') This is font Arial_9 non-bolded
    .Arial_10(style='font-size:10px') This is font Arial_10 non-bolded
    .Arial_11(style='font-size:11px') This is font Arial_11 non-bolded
    .Arial_12(style='font-size:12px') This is font Arial_12 non-bolded
    .Arial_13(style='font-size:13px') This is font Arial_13 non-bolded
    .Arial_14(style='font-size:14px') This is font Arial_14 non-bolded
    .Arial_15(style='font-size:15px') This is font Arial_15 non-bolded
    .Arial_16(style='font-size:16px') This is font Arial_16 non-bolded
    .Arial_17(style='font-size:17px') This is font Arial_17 non-bolded
    .Arial_18(style='font-size:18px') This is font Arial_18 non-bolded
    .Arial_19(style='font-size:19px') This is font Arial_19 non-bolded
    .Arial_20(style='font-size:20px') This is font Arial_20 non-bolded
    .Arial_21(style='font-size:21px') This is font Arial_21 non-bolded
    .Arial_22(style='font-size:22px') This is font Arial_22 non-bolded
    .Arial_23(style='font-size:23px') This is font Arial_23 non-bolded
    .Arial_24(style='font-size:24px') This is font Arial_24 non-bolded

  .bolded
    .Arial_6(style='font-size:6px') This is font Arial_6 bolded
    .Arial_7(style='font-size:7px') This is font Arial_7 bolded
    .Arial_8(style='font-size:8px') This is font Arial_8 bolded
    .Arial_9(style='font-size:9px') This is font Arial_9 bolded
    .Arial_10(style='font-size:10px') This is font Arial_10 bolded
    .Arial_11(style='font-size:11px') This is font Arial_11 bolded
    .Arial_12(style='font-size:12px') This is font Arial_12 bolded
    .Arial_13(style='font-size:13px') This is font Arial_13 bolded
    .Arial_14(style='font-size:14px') This is font Arial_14 bolded
    .Arial_15(style='font-size:15px') This is font Arial_15 bolded
    .Arial_16(style='font-size:16px') This is font Arial_16 bolded
    .Arial_17(style='font-size:17px') This is font Arial_17 bolded
    .Arial_18(style='font-size:18px') This is font Arial_18 bolded
    .Arial_19(style='font-size:19px') This is font Arial_19 bolded
    .Arial_20(style='font-size:20px') This is font Arial_20 bolded
    .Arial_21(style='font-size:21px') This is font Arial_21 bolded
    .Arial_22(style='font-size:22px') This is font Arial_22 bolded
    .Arial_23(style='font-size:23px') This is font Arial_23 bolded
    .Arial_24(style='font-size:24px') This is font Arial_24 bolded
